<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Housesitter for Zigbee2MQTT</title>
    <link href="/public/main.css" rel="stylesheet">
    <script>
      function openpanel(id) {
        const panel = document.querySelector("#panel");
        panel.classList.toggle("hidden")
        panel.querySelector(`#schedule-${id}`).scrollIntoView();
      }

      function updateSchedule(form, event) {
        event.preventDefault();
        const formData = new FormData(form);
        const newScheduleValues = Object.fromEntries(formData)
        const url = `/api/schedules/${newScheduleValues.id}`

        fetch(url, {
          method: "PUT",
          body: JSON.stringify(newScheduleValues)
        }).then(() => {
          // location.reload()
          // reload?
        })
      }

      function createSchedule(form, event) {
        event.preventDefault();
        const formData = new FormData(form);
        const newScheduleValues = Object.fromEntries(formData)
        const url = `/api/schedules/`

        fetch(url, {
          method: "POST",
          body: JSON.stringify(newScheduleValues)
        }).then(() => {
          // location.reload()
          // reload?
        })
      }

      function updateScheduleDeviceSettings(form, event) {
        event.preventDefault();
        const formData = new FormData(form);
        const newScheduleValues = Object.fromEntries(formData)
        newScheduleValues.brightness = parseInt(newScheduleValues.brightness)
        const url = `/api/schedules/${newScheduleValues["schedule-id"]}/device_settings/${newScheduleValues.id}`

        fetch(url, {
          method: "PUT",
          body: JSON.stringify(newScheduleValues)
        }).then(() => {
          // location.reload()
          // reload?
        })
      }
    </script>
</head>
<body>

<header>
    <h1>
        Housesitter for Zigbee2MQTT
    </h1>
</header>

<datalist id="markers">
    <option value="0"></option>
    <option value="25"></option>
    <option value="50">50</option>
    <option value="75"></option>
    <option value="100">100</option>
</datalist>
<section id="schedule-grid" class="chamfer">
    <article class="schedule-box">
        {{ range .Legends }}
            <div class="{{.DisplayClasses }}" {{.Style}}>
                {{ .Title }}
            </div>
        {{ end }}
        {{ range .Schedules }}
            <div style="grid-row-start:calc({{.Row }} + 1)">
                <div>{{.FriendlyName}}</div>
                <div>
                    {{range .Devices}}
                        <span title="{{.FriendlyName}}"
                                style="display: inline-block; height: 5px; width: 5px; padding: 5px; background-color: {{.Color}}">

                        </span>
                    {{end}}
                </div>
            </div>
            <div class="label chamfer" onclick="openpanel({{.ID}})"
                    {{ .InlineStyles }}
            >
                {{ .FormattedTime }}
            </div>
        {{ end }}
        <div style="grid-row-start:calc({{ .Schedules | len }} + 2)">
            <button>Create New Schedule</button>
        </div>
    </article>
</section>
<article id="panel" class="hidden">
    {{ range .Schedules }}
        {{ $scheduleID := .ID }}
        <section class="card" id="schedule-{{.ID}}">
            <header>
                <sub>schedule</sub>
                <h2>{{.FriendlyName}}</h2>
                <aside>
                    {{ .Devices | len }} devices
                </aside>
            </header>
            <article>
                <form class="form-oneline" onsubmit="updateSchedule(this, event)">
                    <input type="hidden" name="id" value="{{.ID}}">
                    <label>On Time
                        <input type="time" name="ontime" step="60" value="{{.OnTime.HTMLValue}}">
                    </label>
                    <label>Off Time
                        <input type="time" step="60" name="offtime" value="{{.OffTime.HTMLValue}}">
                    </label>
                    <button type="submit">Update</button>
                </form>
                <section>
                    <header>
                        Devices on this Schedule
                    </header>
                    <article class="flex">
                        {{ range .Devices}}
                            <section id="schedule-{{$scheduleID}}-device-{{.ID}}" class="chamfer card">
                                <header>
                                    <h3>{{.FriendlyName}}</h3>
                                </header>
                                <article>
                                    <form style="display: flex; flex-direction: column; align-items: flex-end"
                                          onsubmit="updateScheduleDeviceSettings(this, event)">
                                        <input type="hidden" name="schedule-id" value="{{$scheduleID}}">
                                        <input type="hidden" name="id" value="{{.ID}}">
                                        <label class="label-fullwidth">
                                            <span>Brightness</span>
                                            <input type="range" min="0" max="100" style="width:55%;"
                                                   name="brightness"
                                                   value="{{.Brightness}}"
                                                   list="markers"/>
                                        </label>
                                        <label class="label-fullwidth">
                                            Color
                                            <input type="color" name="color" value="{{.Color}}"/>
                                        </label>
                                        <button style="width: 50%" type="submit">Update</button>
                                    </form>
                                </article>
                            </section>
                        {{ end }}
                    </article>
                </section>
            </article>
        </section>
    {{ end }}
    <section class="card" id="schedule-new">
        <header>
            <sub>schedule</sub>
        </header>
        <article>
            <form class="form-oneline" onsubmit="createSchedule(this, event)">
                <h2><input type="text" name="name"></h2>
                <label>On Time
                    <input type="time" name="ontime" step="60" value="09:00">
                </label>
                <label>Off Time
                    <input type="time" step="60" name="offtime" value="14:00">
                </label>
                <button type="submit">Create</button>
            </form>
            <section>
            </section>
        </article>
    </section>
</article>
</body>
</html>
